.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/.gitignore
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/uiDesigner.xml
/.idea/inspectionProfiles/Project_Default.xml
/jte-classes/gg/jte/generated/ondemand/layout/JtepageGenerated.class
/jte-classes/gg/jte/generated/ondemand/layout/JtepageGenerated.java
/jte-classes/gg/jte/generated/ondemand/JteindexGenerated$1.class
/jte-classes/gg/jte/generated/ondemand/JteindexGenerated$2.class
/jte-classes/gg/jte/generated/ondemand/JteindexGenerated.class
/jte-classes/gg/jte/generated/ondemand/JteindexGenerated.java
